@import 'mixins';
$img : '../images/';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-weight: 400;
}

.home{
  background-image: url($img + 'background-home.png');
  .row{
    padding-left: 10%;
    padding-right: 10%;
  }
  .threebyseven{
    min-height: calc( (100vh / 7) * 3 );
  }
  .twobyseven{
    min-height: calc( (100vh / 7) * 2 );
  }
  .logo-block{
      display: block;
  }
  h1{
    font-size: 245%;
    font-weight: 300;
    strong{
      font-size: 125%;
      font-weight: 400;
    }
  }
  .btn{
    @include btn-gradient();
    max-height: 80px;
    width: 100%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    img{
      display: inline-block;
      max-width: 40px;
    }
    h6{
      display: inline-block;
      margin-left: 5%;
      font-size: 140%;
      margin-top: 15px;
      margin-bottom: 0px;
    }
  }
}

.navbar{
  @include menu-gradient();
}
