@import 'mixins';
@import 'switches';
@import 'strategystate';
@import 'globalinitiatives';
$img : '../images/';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-weight: 400;
}

.home{
  background-image: url($img + 'background-home.png');
  .row{
    padding-left: 10%;
    padding-right: 10%;
  }
  .threebyseven{
    min-height: calc( (100vh / 7) * 3 );
  }
  .twobyseven{
    min-height: calc( (100vh / 7) * 2 );
  }
  .logo-block{
      display: block;
  }
  h1{
    font-size: 245%;
    font-weight: 300;
    strong{
      font-size: 125%;
      font-weight: 400;
    }
  }
  .btn{
    @include btn-gradient();
    max-height: 80px;
    width: 100%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    img{
      display: inline-block;
      max-width: 40px;
    }
    h6{
      display: inline-block;
      margin-left: 5%;
      font-size: 140%;
      margin-top: 15px;
      margin-bottom: 0px;
    }
  }
}

.navbar{
  @include menu-gradient();
  box-shadow: 0 -20px 44px 23px hsla(0, 0%, 0%, 0.56);
  .row{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    .navbar-brand{
      img{
        margin: 26px 50px 0 0;
      }
    }
    .oneBySeven{
      width: calc((100% / 7) * 1);
      float: left;
    }
    .fiveBySeven{
      width: calc((100% / 7) * 5);
      float: left;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        padding: 4px 60px;
        margin: 32px 0;
        @media screen and (max-width: 1811px){
          padding: 4px 20px;
        }
        &.active{
          background: white;
          border-radius: 2px;
          a{
            color: black;
          }
        }
        a{
          color: white;
        }
      }
    }
    .hierarchy{
      float: right;
      img{
        float: right;
        width: 75px;
        margin: 14px 0px;
        cursor: pointer;
      }
    }
  }
}
.strategic-plans-summary{
  margin-top: 26vh;
  h1{
    font-size: 150%;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 6px;
    span{
      background-color: #9676e5;
      padding: 5px 10px;
      color: white;
      font-weight: bold;
    }
  }
}
.strategic-goals{
  h2{
    font-size: 100%;
    padding-bottom: 10px;
    border-bottom: 1px dashed  rgba(0,0,0,0.12);
  }
  .goals{
    .card{
      margin: 8px 0px;
      border-radius: 0;
      &:last-child{
        .card-header{
            border-bottom: 0px;
        }
      }
    }
    .card-header {
      background-color: rgba(0, 0, 0, 0);
      h5{
        font-size: 100%;
        cursor: pointer;
        .name-group{
          display: inline-block;
          width: 75%;
          float: left;
          div{
            display: inline-block;
          }
          .goal-number{
            font-weight: bold;
            padding: 5px 10px;
            float: left;
          }
          .goal-name{
            font-weight: normal;
            float: left;
            padding: 5px 10px;
          }

        }
        .status-group{
          display: inline-block;
          width: 25%;
          float: left;
          .goal-stage{
            font-weight: normal;
            float: left;
            span{
              @extend .strategystate;
            }
          }
          .collapse-state{
            float: right;
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 30px;
            transition: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
          }
        }
        &::after{
          position: relative;
        }
      }
      h5[aria-expanded="false"]{
        .collapse-state{
          transform: rotateZ(00deg);
        }
      }
      h5[aria-expanded="true"]{
        .collapse-state{
          transform: rotateZ(90deg);
        }
      }
    }
    .card-body{
      @extend .globalinitiatives;
    }
  }
}
#strategic-plans-detailed-view{
  margin-top: 26vh;
  .back{
    max-width: 80px;
    cursor: pointer;
  }
  h2{
    color: #999;
    font-size: 110%;
    margin-top: 12px;
    text-align: center;
  }
  h3{
    border-bottom: 2px solid #fff;
    font-size: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .key-initiatives{
    h3{
      border-color: #987ee5;
    }
    .initiatives{
      background-color: #e0e0e4;
      padding: 15px 30px;
      h4{
        @extend h5;
        margin-left: -10px;
        &::before{
          content: ' ';
          background-color: #987ee5;
          height: 12px;
          width: 12px;
          display: inline-block;
          position: relative;
          left: -10px;
        }
      }
      h5{
        font-size: 100%;
        font-weight: bold;
      }
      p{
        font-weight: bold;
        font-size: 90%;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px dashed #b0acbd;
      }
      .progress-list{

      }
      .risk-list{
        list-style: none;
      }
      .status-list{
        list-style: none;
        li{
          margin-bottom: 10px;
          span{
            @extend .strategystate;
          }
          div{
            display: inline-block;
            &.up{
              color: #54b758;
            }
            &.down{
              color: #9E9E9E;
            }
            &.bi-directional{
              color: #2196F3;
            }
            .fas{
              position: relative;
              top: 3px;
              left: 2px;
              font-size: 125%;
              margin-right: 14px;
            }
          }
        }
      }
    }
  }
  .linked-business{
    h3{
      border-color: #26d8d2;
    }
    span{
      margin-left: 6px;
      opacity: 0.5;
    }
    table{
      i{
        font-size: 50%;
        position: relative;
        top: -2px;
        left: 4px;
        color: #999;
      }
    }
  }
  .linked-initiatives{
    h3{
      border-color: #d7dddc;
    }
    span{
      margin-left: 6px;
      opacity: 0.5;
    }
    p{
      padding-left: 45px;
      font-size: 100%;
      margin-bottom: 10px;
      font-weight: bold;
      &::before{
        content: ' ';
        background-color: #999;
        width: 7px;
        height: 7px;
        display: inline-block;
        position: absolute;
        margin-left: -20px;
        margin-top: 8px;
      }
    }
  }
}
.anu-org-structure{
  margin-top: 26vh;
  .sidebar{
    border-right: 1px dashed #DDD;
    h4{
      text-align: center;
      font-size: 85%;
      color: #999;
      font-weight: normal;
    }
    .submenu{
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0px 20px 20px 20px;
      li{
        width: 100%;
        h5{
          width: 100%;
          font-size: 90%;
          color: white;
          margin-bottom: 3px; cursor: pointer;
          padding: 5px 10px;
        }
        h5[aria-expanded="false"]{
          &::after{
            content: '+';
            position: absolute;
            right: 50px;
            margin-top: -2px;
            font-size: 100%;
          }
        }
        h5[aria-expanded="true"]{
          &::after{
            content: '-';
            position: absolute;
            right: 50px;
            margin-top: -2px;
            font-size: 100%;
          }
        }
        .submenu-items{
          list-style: none;
          width: 100%;
          background-color: #DDD;
          padding: 5px;
          margin: 0;
          li{
            font-size: 80%;
            padding: 3px 2px;
            background-color: #CCC;
            margin-bottom: 3px; cursor: pointer;
          }
        }
      }
      &.purple{
        li{
          h5{
            background-color: #8a81e3;
          }
        }
      }
      &.cyan{
        li{
          h5{
            background-color: #00c5d5;
          }
        }
      }
    }
  }
  .initiatives{
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 55vh;
    .list{
      @extend .globalinitiatives;
      ul{
        li{
          .state {
            width: 95px;
          }
          .arrow {
            width: 75px;
          }
          .link {
            width: 85px;
          }
        }
      }
    }
    .initiativesList{
      width: 100%;
      display: block;
    }
    .card-head{
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 20px;
      display: block;
      border-radius: 5px 5px 5px 5px;
      background-color: white;
      font-size: 90%;
      min-height: 42px;
      .name{
        width: 70%;
        font-size: 100%;
        display: inline-block;
        float: left;
      }
      .columns{
        width: 30%;
        font-size: 100%;
        display: inline-block;
        float: left;
        .status{
          display: inline-block;
          float: left;
          width: 50%;
          text-align: center;
          font-weight: bold;
        }
        .trends{
          display: inline-block;
          float: left;
          width: 50%;
          font-weight: bold;
        }
      }
    }
    .details{
      padding-left: 15px;
      padding-right: 15px;
      border-radius: .25rem;
      position: relative;
      left: calc(100%);
      height: 0px;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      animation-delay: 0s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      animation-play-state: paused;
      &.open-it{
        animation-name: details-open;
      }
      &.close-it{
        animation-name: details-close;
      }
      &.playing{
        animation-play-state: running;
      }
      @keyframes details-open{
        from{
          left: calc(100%);
          height: 0px;
        }
        to{
          left: 0px;
          height: auto;
        }
      }
      @keyframes details-close{
        from{
          left: 0px;
          height: auto;
        }
        to{
          left: calc(100%);
          height: 0px;
        }
      }
      h5{
        font-size: 90%;
        span{
          @extend .strategystate;
          font-size: 100%;
          position: relative;
          top: -2px;
          left: 34px;
        }
        b{
          @extend .globalinitiatives-arrow;
          background-color: transparent;
          font-size: 100%;
          position: relative;
          top: 4px;
          left: 20px;
        }
        small{
          font-size: 90%;
          color: #999;
          font-weight: bold;
          margin-left: 30px;
          display: inline-block;
        }
      }
      .aligned{
        h5{
          min-height: 50px;
          margin-bottom: 0;
          vertical-align: middle;
        }
      }
      .suggestion{
        margin-left: 0;
        margin-left: 0;
        .status{
          width: 67%;
        }
      }
      #close-anu-org-detail-view{
        cursor: pointer;
      }
      p{
        font-size: 90%;
      }
      li{
        font-size: 90%;
      }
    }

  }
  .status-breakdown{
    .state{
      display: inline-block;
      float: left;
      margin-right: 20px;
      span{
        @extend .strategystate;
      }
    }
  }
}
